.big-picture {
    position: relative;
}
.big-picture .viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    cursor: grab;
}
.diced-image {
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 256px;
    width: 256px;
    background-repeat: no-repeat;
    vertical-align: top;
    text-align: left;
}
.controls {
    position: absolute;
    top: 20px; left: 20px;
    height: 50px; width: 50px;
    background-image: url('http://eric-demo.s3-website-ap-southeast-1.amazonaws.com/img/arrow-icons.png');
    background-size: cover;
}
.pan-up, .pan-down, .pan-left, .pan-right {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
}
.zoom-in, .zoom-out {
    height: 30px; width: 30px;
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.8);
}
.zoom-in { left: 80px; top: 20px;}
.zoom-out { left: 110px; top: 20px;}
.pan-up { top: 0; left: 15px;}
.pan-down { bottom: 0; left: 15px;}
.pan-left { left: 0; top: 15px;}
.pan-right { right: 0; top: 15px;}
